/* 
.fire-marker{
} */

.fire-marker-icon{
    /* border: solid red 1px; */
    color: rgb(255, 0, 93);
    font-size: 1.5rem;
    transform: translateY(-50%); /* fixes icons being slightly offset via api bug */
    transition: 0.5s;
    filter:drop-shadow(0 0 0.2rem rgb(255, 0, 128))
    /* border: solid red 1px; */
    /* animation: pulse-red 2s infinite; */

}

.fire-marker-icon:hover {
    /* border: solid red 1px; */
    color: rgb(255, 0, 93);
    font-size: 2.5rem;
    filter:drop-shadow(0 0 1rem rgb(255, 0, 128));
    cursor: pointer;

}

.container {
    width: 10rem;
    height: 10rem;
    /* overflow: hidden; */
    border: solid rgb(255, 0, 123) 1px;
}
