/* 
.fire-marker{
} */

.fire-marker-icon{
    /* border: solid red 1px; */
    color: rgb(255, 215, 107);
    font-size: 1.5rem;
    transform: translateY(-50%); /* fixes icons being slightly offset via api bug */
    transition: 0.5s;
    filter:drop-shadow(0 0 0.2rem rgb(255, 123, 0));
    /* border: solid red 1px; */
    animation: fire-pulse 1s infinite;

}

@keyframes fire-pulse {
	0% {
		filter:drop-shadow(0 0 0.2rem rgb(255, 123, 0));
	}
	
	70% {
		filter:drop-shadow(0 0 0.5rem rgb(255, 123, 0));
	}
	
	100% {
		filter:drop-shadow(0 0 0.2rem rgb(255, 123, 0));
	}
}

.fire-marker-icon:hover {
    /* border: solid red 1px; */
    color: rgb(255, 0, 93);
    font-size: 2.5rem;
    filter:drop-shadow(0 0 1rem rgb(255, 0, 128));
    cursor: pointer;

}

.container {
    width: 10rem;
    height: 10rem;
    /* overflow: hidden; */
    border: solid rgb(255, 0, 123) 1px;
}

