
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Montserrat&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@300&family=Montserrat&family=Open+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@300&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@500&display=swap');

.menu{
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 30rem; */
    height: 18rem;
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    border: solid rgb(94, 94, 94) 1px;
    border-radius: 0.5rem;
    z-index: 10;
    color: white;
    position: absolute;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.883);
    z-index: 101;
    width: 30rem;
    transition: all 0.4s ease-out;
    /* overflow: hidden; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: Helvetica, sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Helvetica Neue';
    /* font-weight: bold; */
    background-color: rgb(10, 10, 10);
}

.menu-header{
    display: flex;
    justify-content: left;
    /* width: 100%; */
    /* border: solid green 5px; */
    top: 0;
    margin-top: 0;
    /* flex-direction: row; */
    /* background-color: rgba(0, 0, 0, 0.883) */

}

.menu-title{
    /* border: solid white 1px; */
    width: 10rem;
    height: 2rem;
    grid-area: header;
    margin-left: 2.3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    /* margin-top: 2rem; */
    font-size: 1.3rem;
    text-align: left;
    /* color: rgb(255, 0, 93); */
    /* color: rgb(185, 185, 185) */
}

.menu-toggle{
    height: 2.5rem;
    width: 2.5rem;
    /* border: solid red 1px; */
    /* grid-area: toggle; */
    /* margin: 0 0 0 0; */
    right: 0;
    margin-right: 0;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
}

.menu-body{
    /* border: solid white 1px; */
    margin-top: 0rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    /* background-color: rgb(25, 25, 25); */
    height: 100%;
    
}

.menu-footer {
    font-size: 0.7rem;
    margin-top: auto;
    margin-bottom: 0.2rem;
    /* background-color: rgb(10, 10, 10); */
    /* border: solid white 1px; */
}

.menu-row{
    /* justify-content: left; */
    /* border: solid white 1px; */
    display: flex;
    /* border: solid green 2px; */
    align-items: center;
    height: 3rem;
    position: relative;
    background-color: rgb(25, 25, 25);
    margin-top: 0.1rem;
    /* justify-content: space-between; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.cluster-label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: solid red 1px; */
}

.menu-description {
    /* border: solid white 1px; */
    width: 7rem;
    text-align: left;
}

.date-reset-wrapper{
    display: flex;
    align-items: center;
    /* border: solid white 1px; */
    position: absolute;
    right: 0;
    margin-right: 1rem;
    cursor: pointer;
}

.reset-button{
    font-size: 1.1rem;
    margin-right: .5rem;
    /* color: white; */
    color: rgb(78, 228, 195);
    filter:drop-shadow(0 0 0.05rem rgb(78, 228, 195));
}

.reset-button:hover{
    filter:drop-shadow(0 0 0.3rem rgb(78, 228, 195));
}

.date-picker{
    height: 1.5rem;
    background-color: transparent;
    color: white;
    margin-left: auto;
    margin-right: 2rem;
}

.shown {
    /* display: flex; */
    visibility: visible;
    /* display: block; */
    /* visibility: visible; */
    opacity: 100%;
    /* transition-property: visibility; */
    transition: all 0.3s ease-out;
    transition-delay: 0.3s;

}

.hidden{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-out;
}

.menu.menu-closed{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.1rem;
    border: solid white 2px;
    transition: all 0.3s ease-out;
}



/******************** REACT DATE PICKER ********************/

.react-datepicker-wrapper{ /* USE THIS TO ADJUST SIZE OF DATE BOX */
    /* border: solid red 1px !important; */
    width: 7rem !important;
    height: 1.6rem !important;
    /* position: absolute !important; */
    right: 0 !important;
}

.react-datepicker__input-container{
    /* border: solid white 1px; */
    height: 100% !important;
}

/* .react-datepicker-ignore-onclickoutside{ 
    width: 100% !important;
} */

/* white box part */
.react-datepicker__input-container input{
    background-color: rgb(46, 46, 46) !important;
    border-radius: 0.4rem !important;
    text-align: center !important;
    width: 100% !important;
    height: 100% !important;
    color: white !important;
    /* color: rgb(78, 228, 195) !important; */
    border: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem !important;
    cursor: pointer !important;
}

.react-datepicker__month-container{
    background-color: rgb(46, 46, 46) !important;
}

.react-datepicker__header{
    background-color: rgba(26, 26, 26, 0.883) !important;
}

.custom-header {
    /* border: solid white 1px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar-button{
    color: white;
    font-size: 1rem;
}

.calendar-select{
    color: white;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    border: 0;
    text-align: center;
    height: 1.5rem;
    border-radius: 0.2rem;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    color: white !important;
}

.react-datepicker__day{
    color: white !important;
}

.react-datepicker__day--selected{
    background-color: rgb(255, 0, 93) !important;
    /* background-color: rgb(78, 228, 195) !important; */
}

.react-datepicker__day.react-datepicker__day--keyboard-selected{
    background-color: transparent !important;
}

/********************** REACT HAMBURGER ICON ************************/
/* https://hamburger-react.netlify.app/ */

.hamburger-react{
    position: absolute !important;
    right: 0;
    /* border: solid white 1px; */
    top: -9999px !important;
    bottom: -9999px !important;
    left: -9999px !important;
    right: -9999px !important;
    margin: auto !important;
    /* INNER SIZE IS SET USING REACT PROPS */
}